.paragraph-1{
    color: cyan;
    background-color: black;
}

.paragraph-2{
    color: greenyellow;
    background-color: azure;
}
#Quality{
    background-color: rgb(127, 255, 176);
    
}

